@import url("http://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-image: linear-gradient(to top, black, #888888);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.card {
  background-image: linear-gradient(to top, #ffffff, #2b2b2b);
  margin: 20px 15px;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

h1,
h5 {
  display: flex;
  justify-content: center;
}

h5 {
  color: #fff;
}

h6 {
  text-align: right;
}

img {
  border-radius: 20px;
}
